<%= render "shared/header" %>

<div class="container">
  <div class="row">
    <div class="col-md-9">
      <section class="callaction">
        <div class="container">
          <div class="row">
            <div class="col-lg-9">
              <div class="big-cta">
                <div class="cta-text">
                  <h2><span>CollegColoc</span>, la plateforme de propositions de logements, locations temporaires et colocations entre étudiants étrangers et locaux.</h2>
                  <a href="#" class="btn btn-theme">Postez votre annonce</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="row carousel-holder">
        <div class="col-md-12">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active">
                        <img class="slide-image" src="<%= image_path 'collegcoloc/caroussel/3.jpg' %>" alt="">
                    </div>
                    <div class="item">
                        <img class="slide-image" src="<%= image_path 'collegcoloc/caroussel/3.jpg' %>" alt="">
                    </div>
                    <div class="item">
                        <img class="slide-image" src="<%= image_path 'collegcoloc/caroussel/3.jpg' %>" alt="">
                    </div>
                </div>
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
          </div>
        </div>
      </div>


    <div class="col-lg-9">
      <h4 class="heading">Annonces</h4>
    </div>

    <div class="row">

    <% @annonces.each do |annonce|%>
      <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
          <img src="<%= image_path 'collegcoloc/caroussel/8.jpg' %>" alt="">
          <div class="caption">
            <h4 class="pull-right"><%= annonce.Budget %></h4>
            <h4><a href="#"><%= annonce.Type %></a></h4>
            <p>See more snippets like this online store item at <a target="_blank" href="http://www.bootsnipp.com">Bootsnipp - http://bootsnipp.com</a>.</p>
          </div>
          <div class="ratings">
            <p class="pull-right">15 reviews</p>
            <p>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
            </p>
          </div>
        </div>
      </div>
    <% end -%>
    </div>

  </div>
  <div class="col-md-3">
      <p class="lead">Pub residences</p>
      <div class="list-group">
        <% @residences.each do |residence|%>
          <a href="#" class="list-group-item"><%= residence.Titre %></a>
        <% end %>
      </div>
  </div>
</div>

<%= render "shared/footer" %>