<%= render "shared/header" %>
<h1>Termes de service</h1>
<section class="container">
  This user agreement (“Agreement”) is a legally-binding contract that explains the terms under which you are able to use the Outsource.com web site and any web or mobile services or applications (“Site”) as offered by Outsource.com, LLC (“Outsource,” “we,” or “us”). Throughout this Agreement you will be known as the "User" or “Users.” The reference to “you” or “yours,” as applicable, means the person that accesses, uses, and or participates on Outsource.com in any manner. Freelancers that are offering services through the Outsource.com platform will be referred to as "Freelancer" or “Freelancers.” Users that are posting jobs and searching for Freelancers are referred to as “Client” or “Clients.”

  You understand that by using the Outsource.com platform you are accepting this Agreement. If you do not accept this agreement in its entirety, you may not access or use the Outsource platform. Once you accept this agreement on behalf of an entity, you represent and warrant that you have the authority to bind that entity to this agreement.

  Outsource.com has established a Privacy Policy that explains how information from Users is collected and used. The Privacy Policy is located at here.

  1. Summary of Outsource

  Outsource.com is an online forum that facilitates communication between Clients and Freelancers for freelancing services, allowing them to create online profiles and buy and sell services provided by the Freelancers. Outsource.com acts as a venue for Freelancers and Clients to exchange information with the goal of eventually forming a business relationship. Outsource.com does not guarantee that Clients will successfully find a Freelancer to his/her liking through the Site. Likewise, Outsource.com does not involve itself in the agreement between the Client and the Freelancer. The Client is solely responsible for assessing the integrity, honesty, experience, capability, and reliability of any Freelancer with whom Client communicates with through the Site.

  2. Eligibility

  The Site is available only to legal entities and persons who are at least eighteen (18) years old and are otherwise capable of forming legally binding contracts under applicable law. A user agrees that they are not (a) a citizen or resident of a country in which use or participation is prohibited by law, decree, regulation, treaty or administrative act; (b) a citizen or resident of, or located in, a country or region that is subject to U.S. or other sovereign country sanctions or embargoes; or (c) an individual or an individual employed by or associated with an entity identified on the U.S. Department of Commerce's Denied Persons or Entity List, the U.S. Department of Treasury's Specially Designated Nationals or Blocked Persons Lists, or the Department of State's Debarred Parties List or otherwise ineligible to receive items subject to U.S. export control laws and regulations, or other economic sanction rules of any sovereign nation.

  3. Member Conduct

  Users shall not upload, post, or distribute any content including text, images, information, and videos, to any part of the Site including the profile, messages, quotes, or reviews, that misrepresent in any way the Freelancer or services provided by the Freelancer and/or the Client and the Job being posted by the Client. This includes, but is not limited to:

  misrepresentation of anything posted, including impersonation of another individual or entity or any false or inaccurate biographical information for any Freelancer or Client
  providing links to external sites that violate the Agreement
  invading anyone’s privacy by attempting to harvest, collect, store, or publish private or personally identifiable information such as names, email addresses, phone numbers, passwords, account information, credit card numbers, home addresses, or other contact information without their knowledge or consent
  falsehoods or misrepresentations that could damage Outsource.com, Users, or any third party
  is copyrighted, protected by trade secret or subject to a third-party’s proprietary rights, including privacy rights, unless you are the owner of such rights or have permission from the rightful owner to post and use these materials
  contains or promotes an illegal or unauthorized copy of another person’s work, such as a pirated computer program or links to those or any other item for copy, display, use, performance, or distribution of which infringes on another's copyright, intellectual property right, or any other proprietary right
  is pornographic, harassing, hateful, illegal, obscene, defamatory, libelous, slanderous, threatening, discriminatory, racially, culturally or ethnically offensive; incites, advocates, or expresses pornography, obscenity, vulgarity, profanity, hatred, bigotry, racism, or gratuitous violence; encourages conduct that would be considered a criminal offense, give rise to civil liability or violate any law; promotes racism, hatred or physical harm of any kind against any group or individual; contains nudity, violence or inappropriate subject matter, or is otherwise inappropriate.
  is intended to threaten, stalk, defame, defraud, degrade, victimize, or intimidate an individual or group of individuals for any reason on the basis of age, gender, disability, ethnicity, sexual orientation, race, or religion, or to incite or encourage anyone else to do so
  advertises or solicits a business not related to or appropriate for the Site (as determined by Outsource.com in its sole discretion), this includes anything that could be considered “junk mail,” “spam,” or unsolicited commercial advertising, advertising for ponzi schemes, online surveys or contests, irrelevant content and/or commercial services or websites, except as allowed under the Outsource Agreement
  4. Cancellation

  User may cancel their usage of the Outsource.com at anytime. Outsource.com has the right to terminate, cancel, block, and/or restrict User’s usage of the Site at any time with or without cause. However, examples of reasons why Outsource.com may terminate a User’s enrollment include but are not limited to a Freelancer’s attempt to circumvent paying fees to Outsource.com, complaint(s) from other Users about a Freelancer or Client, Freelancer failing to provide services to Clients after a quote has been accepted, and failing to abide by Outsources.com’s rules and policies.

  5. Rules for Freelancers

  Profiles and offers as posted or advertised by Freelancers must not be fraudulent or in any way violate the Agreement. This includes but is not limited to listing or advertising services that are unrelated to the category in which they are listed, attempting to circumvent Outsource.com fees, and in any way violate the Agreement. Freelancers are able to purchase Credits on the Site that are used to send quotes via the Site to Clients that are looking for their services. The cost of the Credits and the amount of Credits that are required to send a quote to a Client are at the sole discretion of Outsource.com and may change at any time. Payments for Credits purchased on the Site are nonrefundable and there are no refunds for partially used Credits or terminated accounts.

  6. Outsource Disclaimers

  The inclusion of any Freelancer on this Site does not imply an endorsement of any Freelancer or the services provided by this Freelancer. Outsource.com makes no representation regarding any Freelancer’s qualifications, nor does it sanction any statement that a Freelancer may post on or off the Site or communicate to the Client. Outsource.com does not screen any of the Freelancers using the Site. Users acknowledge that Outsource.com is not liable for any dispute, claim, controversy, or lawsuit that Freelancers and Clients may have against each other arising from the use of the the Outsource.com Site.

  Users acknowledge that there is no charge or fee to Clients for use of Outsource.com, Freelancers do pay a fee to Outsource.com in order to contact and solicit business from the Clients. Users acknowledge that Outsource.com is not responsible for any harm that using the Site may cause. User unconditionally and absolutely agrees to indemnify and hold Outsource.com fully harmless from any and all liability arising from or in connection with the contents or use of the Site. User further agrees that the defense and indemnity shall include without limitation attorney's fees and costs.

  Outsource.com may change the Agreement at any time. Outsource.com further reserves the right to discontinue the Site without notice. Users agree that Outsource.com shall not be liable to User or any third party for any modification or discontinuance of the Site. User acknowledges and agrees that any termination of Site may be without prior notice, and agrees that Outsource.com may immediately delete data and files in the User's account and bar any further access to the files.

  User expressly agrees that the use of the Site is at User's own risk. The Site is provided on an "as is" basis. Outsource.com expressly disclaims all warranties of any kind, whether expressed or implied, including, but not limited to the implied warranties of merchantability and fitness for a particular purpose. Outsource.com makes no warranty that the Service will meet User's requirements, that the Service will be uninterrupted, timely, secure, or error-free. Furthermore, Outsource.com does not warranty the results that may be obtained from the use of the Site or as to the accuracy or reliability of any information obtained through the Site or that defects in the program will be corrected. Outsource.com makes no warranty regarding any goods or services purchased or information obtained through the Site or any transaction entered through the Service. No advice or information, whether oral or written, obtained by User from Outsource.com shall create any warranty not expressly stated herein.

  Outsource.com shall not be liable for any direct, indirect, incidental, special, or consequential damages resulting from the use or inability to use the Site, including but not limited to any damage caused by Freelancer in dealing with Client. Furthermore, User agrees that Outsource.com shall not be liable for any damages arising from interruption, suspension, or termination of service, including, but not limited to, direct, indirect, incidental, special, or consequential damages, whether such interruption, suspension, or termination was justified or not, negligent or intentional.

  Any claims or disputes arising out of this Agreement, including any claims for violation of the terms of the Agreement, shall be resolved under the laws of the State of California and shall be subject to arbitration. The arbitration shall be conducted in the Orange County, State of California, and any court having jurisdiction thereof may enter judgment on the arbitration award.

  If any term or provision of this Agreement is held to be invalid, illegal or unenforceable, in any respect as written, the parties intend for any arbitrator construing this Agreement to modify or limit such provision so as to render it valid and enforceable to the fullest extent allowable by law. Any provision not susceptible of such reformation shall be valid and enforced to the fullest extent of the law. Furthermore, the provisions of this Agreement are severable, meaning that if any part is found to be unenforceable or inoperable, then such provision will be deemed severed, and all other parts will remain fully valid and enforceable.
</section>
<%= render "shared/footer" %>