<div class="row">
  <div class="col-md-5 col-md-offset-4">
    <div class="panel panel-default user-panel pad">
        <center><h3>Log in</h3></center>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, class: "form-control" %>

          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "off", class: "form-control" %>

        <% if devise_mapping.rememberable? -%>
            <%= f.label :remember_me, class: "checkbox inline" do %>
            <%= f.check_box :remember_me%>
            <span>Remember me</span>
            <% end %>
        <% end -%>

          <center><%= f.submit "Log in", class: "btn btn-primary btn-block" %></center>
      <% end %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
