<%= render "shared/header" %>
<p id="notice"><%= notice %></p>

<p>
  <strong>CIN:</strong>
  <%= image_tag @user.cin.url %>
</p>

<p>
  <strong>Nom:</strong>
  <%= @user.nom %>
</p>

<p>
  <strong>Prenom:</strong>
  <%= @user.prenom %>
</p>

<p>
  <strong>Ecole:</strong>
  <%= @user.prenom %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.prenom %>
</p>

<%= link_to 'Lui écrire', 'localhost:3000/chats/samplea' %>

<%= render "shared/footer" %>
