  </div>
  <hr>
  <footer>
  <div id="sub-footer">

    <div class="container">
        <div class="col-lg-8">
          <div class="copyright">
            <p>
              <span>&copy; Colleg Coloc 2015 collegcoloc@gmail.com 95 39 18 06.</span>
              <span><%= link_to("Politique d'utilisation", '/politique') %> </span>
              <span><%= link_to('Termes du service', '/termes') %></span>
              <span><%= link_to('Nous contacter', '/contact') %></span>
            </p>
          </div>
        </div>

        <div class="col-lg-4">
          <ul class="social-network">
            <li><a href="#" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#" data-placement="top" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#" data-placement="top" title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
            <li><a href="#" data-placement="top" title="Google plus"><i class="fa fa-google-plus"></i></a></li>
          </ul>
        </div>
      </div>

  </div>
  <a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
  </footer>
</div>
