<div class="container">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="http://www.emploisite.com">Emploi site</a>

      </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
            <li><%= link_to('Toutes les annonces', annonces_path()) %></li>
          <% if user_signed_in? %>
            <li>
            <%= link_to('Mes annonces et réponses', user_annonces_path(current_user)) %>
            </li>
            <li class="dropdown">
              <a href="#" id="dLabel" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <% if (current_user.prenom && current_user.nom) %>
                    <%= current_user.prenom + '  ' + current_user.nom %>
                <% else %>
                    <%= current_user.email %>
                <% end %>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <li>
                <%= link_to('Se déconnecter', destroy_user_session_path, :method => :delete) %>
                </li>
                <li>
                <%= link_to('Modifier son profil', edit_user_registration_path) %>
                </li>
              </ul>
            </li>
          <% else %>
            <li>
            <%= link_to('Login', new_user_session_path)  %>
            </li>
            <li>
            <%= link_to('Register', new_user_registration_path)  %>
            </li>
          <% end %>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <div>
    <!-- need by devise -->
    <!--% if notice %>
      <p class="alert alert-info"><%= notice %></p>
    <!-- % end %-->

    <% if alert %>
      <p class="alert alert-warning"><%= alert %></p>
    <% end %>

  </div>
</div>
<div class="container">
