<%= form_for([@annonce, @reponse]) do |f| %>
  <% if @reponse.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reponse.errors.count, "error") %> prohibited this reponse from being saved:</h2>

      <ul>
      <% @reponse.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Contenu %><br>
    <%= f.text_area :Contenu %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
