<p id="notice"><%= notice %></p>

<h1>Listing Reponses</h1>
<div class="row pads">
<table class="table">
  <thead>
    <tr>
<%= link_to 'Nouvelle réponse', new_annonce_reponse_path %>
      <th>Reponses</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reponses.each do |reponse| %>
      <tr>
        <td><%= reponse.Contenu %></td>
        <td style="width: 100px;"><button class="btn btn-success btn-sm"><%= link_to 'Voir', annonce_reponse_path(@annonce, reponse), class: "colore" %></button></td>
        <td style="width: 100px;"><button class="btn btn-warning btn-sm"><%= link_to 'Modifier', edit_annonce_reponse_path(@annonce, reponse), class: "colore" %></td>
        <td style="width: 100px;"><button class="btn btn-danger btn-sm"><%= link_to 'Supprimer', annonce_reponse_path(@annonce, reponse), method: :delete, data: { confirm: 'Etes-vous sûre de vouloir Supprimer?' }, class: "colore" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

