<%= render "shared/header" %>

<h1>New Reponse</h1>


<p id="notice"><%= notice %></p>

<p>
  <strong>Titre:</strong>
  <%= @annonce.Titre %>
</p>

<p>
  <strong>Description:</strong>
  <%= @annonce.Description %>
</p>

<p>
  <strong>Apercu:</strong>
  <%= @annonce.Apercu %>
</p>

<p>
  <strong>Type:</strong>
  <%= @annonce.Type %>
</p>

<p>
  <strong>Adresse:</strong>
  <%= @annonce.Adresse %>
</p>

<p>
  <strong>Datecloture:</strong>
  <%= @annonce.DateCloture %>
</p>

<hr>
<p>
  <strong>En réponse, j'écris:</strong>
</p>

<%= render 'form' %>

<%= link_to 'Retour', annonce_reponses_path %>

<%= render "shared/footer" %>
