<p id="notice"><%= notice %></p>

<p>
  <strong>Contenu:</strong>
  <%= @reponse.Contenu %>
</p>
<%= link_to 'Modifier', edit_annonce_reponse_path(@annonce, @reponse) %> |
<%= link_to 'Retour', annonce_reponses_path %>
