<% content_for :title do %>
  404 Not found
<% end %>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="panel panel-default user-panel">
      <div class="panel-heading">
        <h4 class="text-center"><img src="<%= asset_path 'logo.png' %>"/> Chaperone</h4>
      </div>
      <div class="panel-body">
          <h3 class="text-center">OMG! You're lost!</h3>
          <p>What the heck are you doing here? Wrong turn!</p>
          <a class="btn btn-block btn-primary" href="/">Let's go back</a>
      </div>
    </div>
  </div>
</div>
