<% content_for :title do %>
  404 Not found
<% end %>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="panel panel-default user-panel">
      <div class="panel-heading">
        <h4 class="text-center"><img src="<%= asset_path 'logo.png' %>"/> Chaperone</h4>
      </div>
      <div class="panel-body">
          <h3 class="text-center">Something happened</h3>
          <p>We're not quite sure what happened, but our whole team has been alerted.</p>
          <p><strong>Please refresh the page and <a href="mailto:contact@getchaperone.com">contact us</a> if this message persists.</strong></p>
      </div>
    </div>
  </div>
</div>
