<div class="row">
  <div class="col-md-5 col-md-offset-4">
    <div class="panel panel-default user-panel pad">

      <%= form_for(@annonce) do |f| %>
        <% if @annonce.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@annonce.errors.count, "error") %> prohibited this annonce from being saved:</h2>

            <ul>
            <% @annonce.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

          <%= f.label :Titre %><br>
          <%= f.text_field :Titre, :required => true, class: "form-control" %>

          <%= f.label :Description %><br>
          <%= f.text_area :Description, :required => true, class: "form-control" %>


          <%= f.label :Apercu %><br>
          <%= f.file_field :Apercu, :required => true, class: "form-control" %>


          <%= f.label :Type %><br>
          <%= f.select(:Type, ['Colocation', 'Location'], :class => 'my_style_class')%>

          <%= f.label :Budget %><br>
          <%= f.number_field :Budget, class: "form-control" %> <span> F CFA </span>


          <%= f.label :Adresse %><br>
          <%= f.text_field :Adresse, :required => true, class: "form-control" %>


          <%= f.label :DateCloture %><br>
          <%= f.date_select :DateCloture, class: "form-control" %><br><br>


          <%= f.submit "Create Add", class: "btn btn-primary btn-block" %>
      <% end %>
    </div>
  </div>
</div>
