<%= render "shared/header" %>

<p id="notice"><%= notice %></p>

<h1>Listing Annonces</h1>

<table>
  <thead>
    <tr>
      <th>Titre</th>
      <th>Description</th>
      <th>Apercu</th>
      <th>Type</th>
      <th>Adresse</th>
      <th>Datecloture</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @annonces.each do |annonce| %>
      <tr>
        <td><%= annonce.Titre %></td>
        <td><%= annonce.Description %></td>
        <td><%= annonce.Type %></td>
        <td><%= annonce.Adresse %></td>
        <td><%= annonce.DateCloture %></td>
        <td><%= link_to 'Voir', annonce %></td>
        <% if (current_user.id == annonce.user_id) %>
          <td><%= link_to 'Voir les réponses', annonce_reponses_path(annonce) %></td>
          <td><%= link_to 'Modifier', edit_annonce_path(annonce) %></td>
          <td><%= link_to 'Supprimer', annonce, method: :delete, data: { confirm: 'En êtes-vous sûr?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nouvelle annonce', new_annonce_path %>

<%= render "shared/footer" %>
