<%= render "shared/header" %>

<p id="notice"><%= notice %></p>

<div class="annonce">

  <%= image_tag @annonce.Apercu.url %>

<p>
  <strong>Titre:</strong>
  <%= @annonce.Titre %>
</p>

<p>
  <strong>Description:</strong>
  <%= @annonce.Description %>
</p>

<p>
  <strong>Type:</strong>
  <%= @annonce.Type %>
</p>

<p>
  <strong>Adresse:</strong>
  <%= @annonce.Adresse %>
</p>

<p>
  <strong>Date clôture de proposition:</strong>
  <%= @annonce.DateCloture %>
</p>

</div>

<% @annonce.reponses.each do |reponse|%>
  <p>
    <strong>Contenu:</strong>
    <%= reponse.Contenu %>
  </p>
<% end %>

<%= link_to 'Nouvelle reponse', new_annonce_reponse_path(@annonce) %> |
<% if (current_user.id == @annonce.user_id) %>
  <%= link_to 'Voir les réponses', annonce_reponses_path(@annonce) %> |
  <%= link_to 'Modifier', edit_annonce_path(@annonce) %> |
<% end %>
<%= link_to 'Retour', annonces_path %>

<%= render "shared/footer" %>
