/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /* "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables" */
@import "bootstrap-sprockets";
@import "bootstrap";

@import "font-awesome-sprockets";
@import "font-awesome";

/* ==== Google font ==== */
@import url(//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400);
@import url('http://fonts.googleapis.com/css?family=Noto+Serif:400,400italic,700|Open+Sans:300,400,600,700');


div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.colore {
  color: #fff;
 }
.pads {
  padding: 40px;
}

.pad {
  padding: 30px;
}

.user-panel {
    width: 420px;
    margin-top: 50px;
    border-radius: 0px;
}
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}


/* =================================== */


body {
    padding-top: 10px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.slide-image {
    width: 100%;
}

.carousel-holder {
    margin-bottom: 30px;
}

.carousel-control,
.item {
    border-radius: 4px;
}

.caption {
    height: 130px;
    overflow: hidden;
}

.caption h4 {
    white-space: nowrap;
}

.thumbnail img {
    width: 100%;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

/* ===================================
1. General
==================================== */

body {
  font-family:'Open Sans', Arial, sans-serif;
  font-size:14px;
  font-weight:300;
  line-height:1.6em;
  color:#656565;
}

a:active {
  outline:0;
}

.clear {
  clear:both;
}

h1,h2, h3, h4, h5, h6 {
  font-family:'Open Sans', Arial, sans-serif;
  font-weight:700;
  line-height:1.1em;
  color:#333;
  margin-bottom: 20px;
}

/* ===================================
2. layout
==================================== */

.container {
  padding:0 20px 0 20px;
  position:relative;
}

#wrapper{
  width:100%;
  margin:0;
  padding:0;
}


.row,.row-fluid {
  margin-bottom:30px;
}

.row .row,.row-fluid .row-fluid{
  margin-bottom:30px;
}

.row.nomargin,.row-fluid.nomargin {
  margin-bottom:0;
}

header .navbar {
    margin-bottom: 0;
}

.navbar-default {
    border: none;
}

.navbar-brand {
    color: #222;
  text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
    line-height: 1em;
  letter-spacing: -1px;
    margin-top: 30px;
    padding: 0 0 0 15px;
}


header .navbar-collapse  ul.navbar-nav {
    float: right;
    margin-right: 0;
}

header .navbar-default{
    background-color: #fff;
}

header .nav li a:hover,
header .nav li a:focus,
header .nav li.active a,
header .nav li.active a:hover,
header .nav li a.dropdown-toggle:hover,
header .nav li a.dropdown-toggle:focus,
header .nav li.active ul.dropdown-menu li a:hover,
header .nav li.active ul.dropdown-menu li.active a{
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}


header .navbar-default .navbar-nav > .open > a,
header .navbar-default .navbar-nav > .open > a:hover,
header .navbar-default .navbar-nav > .open > a:focus {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}


header .navbar {
    min-height: 100px;
}

header .navbar-nav > li  {
    padding-bottom: 30px;
    padding-top: 30px;
}

header  .navbar-nav > li > a {
    padding-bottom: 6px;
    padding-top: 5px;
    margin-left: 2px;
    line-height: 30px;
  font-weight: 700;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}


.dropdown-menu li a:hover {
    color: #fff !important;
}

header .nav .caret {
    border-bottom-color: #f5f5f5;
    border-top-color: #f5f5f5;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: #fff;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color:  #fff;
}


.dropdown-menu  {
    box-shadow: none;
    border-radius: 0;
  border: none;
}

.dropdown-menu li:last-child  {
  padding-bottom: 0 !important;
  margin-bottom: 0;
}

header .nav li .dropdown-menu  {
   padding: 0;
}

header .nav li .dropdown-menu li a {
   line-height: 28px;
   padding: 3px 12px;
}

/* --- menu --- */

header .navigation {
  float:right;
}

header ul.nav li {
  border:none;
  margin:0;
}

header ul.nav li a {
  font-size:12px;
  border:none;
  font-weight:700;
  text-transform:uppercase;
}

header ul.nav li ul li a {
  font-size:12px;
  border:none;
  font-weight:300;
  text-transform:uppercase;
}


.navbar .nav > li > a {
  color: #111;
  text-shadow: none;
}

.navbar .nav a:hover {
  background:none;
}

.navbar .nav > .active > a,.navbar .nav > .active > a:hover {
  background:none;
  font-weight:700;
}

.navbar .nav > .active > a:active,.navbar .nav > .active > a:focus {
  background:none;
  outline:0;
  font-weight:700;
}

.navbar .nav li .dropdown-menu {
  z-index:2000;
}

header ul.nav li ul {
  margin-top:1px;
}
header ul.nav li ul li ul {
  margin:1px 0 0 1px;
}
.dropdown-menu .dropdown i {
  position:absolute;
  right:0;
  margin-top:3px;
  padding-left:20px;
}

.navbar .nav > li > .dropdown-menu:before {
  display: inline-block;
  border-right: none;
  border-bottom: none;
  border-left: none;
  border-bottom-color: none;
  content:none;
}



ul.nav li.dropdown a {
  z-index:1000;
  display:block;
}

 select.selectmenu {
  display:none;
}


/* ===============================
16. Footer
================================ */

footer{
  // padding:50px 0 0 0;
  color:#f8f8f8;
}

footer a {
  color:#fff;
}

footer a:hover {
  color:#eee;
}

footer h1, footer h2, footer h3, footer h4, footer h5, footer h6{
  color:#fff;
}

footer address {
  line-height:1.6em;
}

footer h5 a:hover, footer a:hover {
  text-decoration:none;
}

ul.social-network {
  list-style:none;
  margin:0;
}

ul.social-network li {
  display:inline;
  margin: 0 5px;
}

#sub-footer{
  text-shadow:none;
  color:#f5f5f5;
  padding:0;
  padding-top: 15px;
}

#sub-footer a {
  color: #271598;
  font-weight: 600;
  margin-left: 10px;
  text-decoration: none;
}

#sub-footer p{
  margin:0;
  padding:0;
}

#sub-footer span{
  /* color:#f5f5f5; */
  color: #000;
  font-weight: 400;
}

.copyright {
  text-align:left;
  font-size:12px;
}

#sub-footer ul.social-network {
  float:right;
}

.annonce{

}

.annonce img{
  float: left;
  margin-right: 30px;
  width: 750px;
  height: 500px;
}
