<p id="notice"><%= notice %></p>

<h1>Listing Residences</h1>

<table>
  <thead>
    <tr>
      <th>Titre</th>
      <th>Description</th>
      <th>Apercu</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @residences.each do |residence| %>
      <tr>
        <td><%= image_tag residence.Apercu.url %></td>
        <td><%= residence.Titre %></td>
        <td><%= residence.Description %></td>
        <td><%= link_to 'Show', residence %></td>
        <td><%= link_to 'Edit', edit_residence_path(residence) %></td>
        <td><%= link_to 'Destroy', residence, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Residence', new_residence_path %>
