<p id="notice"><%= notice %></p>

<p>
  <strong>Titre:</strong>
  <%= @residence.Titre %>
</p>

<p>
  <strong>Description:</strong>
  <%= @residence.Description %>
</p>

<p>
  <strong>Apercu:</strong>
  <%= @residence.Apercu %>
</p>

<%= link_to 'Modifier', edit_residence_path(@residence) %> |
<%= link_to 'Retour', residences_path %>
