<div class="row">
  <div class="col-md-5 col-md-offset-4">
    <div class="panel panel-default user-panel pad">
      <center><h3>Edit <%= resource_name.to_s.humanize %></h3></center>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>

          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, class: 'form-control'%>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

          <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
          <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>

          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>

          <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
          <%= f.password_field :current_password, autocomplete: "off", class: 'form-control' %><br>

          <%= f.submit "Update", class: 'btn btn-primary btn-block' %>
      <% end %><br>

      <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger' %></p>

      <%= link_to "Back", :back %>
    </div>
  </div>
</div>