<div class="row">
  <div class="col-md-5 col-md-offset-4">
    <div class="panel panel-default user-panel pad">
      <center><h3>Sign up</h3></center>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class: "form-control" %>

        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>

        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %><br>

        <%= f.submit "Sign up", class: "btn btn-primary btn-block" %>
    <% end %>

    Vous avez deja un compte? <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
